{% block content %}
  <td class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Personagens
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        {% for character in characters %}
            {% set id = character.split("character/")[1] %}
            <a href="{{ url_for('get_profile', id=id) }}" class="dropdown-item">{{ name(id) }}</a>
        {% endfor %}
    </div>
  </td>
{% endblock %}