{% extends "layout.html" %}

{% block content %}
    <h4 class="text-dark py-4">Episódio</h4>

    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Data  de Lançamento</th>
                        <th scope="col">Personagens</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{episode.id}}</td>
                        <td>{{episode.name}}</td>
                        <td>{{episode.air_date}}</td>

                        {% with characters=episode.characters %}
                            {% include "characters-buttons.html" %}
                        {% endwith %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}