{% extends "layout.html" %}

{% block content %}
    <h4 class="text-dark py-4">Localização</h4>

    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Dimensão</th>
                        <th scope="col">Personagens</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{location.name}}</td>
                        <td>{{location.type}}</td>
                        <td>{{location.dimension}}</td>
                        
                        {% with characters=location.residents %}
                            {% include "characters-buttons.html" %}
                        {% endwith %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}