{% extends "layout.html" %}

{% block content %}
    <h4 class="text-dark py-4">Personagem</h4>

    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Foto</th>
                        <th scope="col">Nome</th>
                        <th scope="col">status</th>
                        <th scope="col">Espécie</th>
                        <th scope="col">Gênero</th>
                        <th scope="col">Origem </th>
                        <th scope="col">localização</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> <img src="{{profile.image}}" alt="profile.name"
                            class="rounded float-start" /></td>
                        <td>{{ profile.name}}</td>
                        <td>{{profile.status}}</td>
                        <td>{{profile.species}}</td>
                        <td>{{profile.gender}}</td>
                        <td>
                            {% set id = profile.origin.url.split("location/")[1] %}
                            <a href="{{ url_for('get_single_location', id=id)}}"class="btn btn-link">{{ profile.origin.name }}</a>
                        </td>
                        <td>
                            {% set id = profile.location.url.split("location/")[1] %}
                            <a href="{{ url_for('get_single_location', id=id) }}" class="btn btn-link">{{ profile.location.name }}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}